@import '../../colors';


.pagina-App {

    *, 
    *::after, 
    *::before{
        margin: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.6rem;
        background: #EEEEEE;
        
    }

    h1,
    h2,
    h3,
    p {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 700;
        line-height: 23.44px;
    }
    
    .text-main {
        color: #313131;
        font-family: Roboto;
        
        font-size: 36px;
        font-weight: 400;
        line-height: 42.19px;
    }

    .main{
        margin-top: 5em;
        margin-left: 5em;

    }

    .cards-container{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: space-around;
    }
}
